* {
	margin: 0;
	padding: 0;
}
body {
	background: #101820;
}
div#headings {
	margin-top: 200px;
	margin-bottom: 50px;
}
span#heading {
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: #CACCCE;
}
i {
	height: 29px;
	width: 34px;
	font-size: 23px !important;
	border-radius: 17px;
	padding-top: 5px;
}
.github {
	background: #FFFFFF;
	color: #333333;
}
.linkedin {
	background: #1583BB;
	color: #FFFFFF;
}
.facebook {
	background: #3B5998;
	color: #FFFFFF;
}
.pinterest {
	background: #BD081C;
	color: #FFFFFF;
}
.twitter {
	background: #FFFFFF;
	color: #1DA1F2;
}
.skype {
	background: #FFFFFF;
	color: #00AFF0;
}
.bitbucket {
	background: #FFFFFF;
	color: #205081;
}
.instagram {
	background: #FFFFFF;
	color: #000000;
}